 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}
.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 15px 15px 0px 15px;
    display: flex;
    

}

.sign-up{
    padding: 25px;

}

.sign-up header{
    font-size: 25px;
    font-weight: 1000;
    padding-bottom: 10px;
    color: blueviolet;
    margin-left: 50px;
}

.sign-up form {
    margin: 20px 0;
}

.sign-up .error-text {
    color: #721c24;
    background: #f8d7da;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

.sign-up  form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.sign-up  form .field a {
    text-decoration: none;
}





.sign-up form .field input {
    height: 50px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    
}

.sign-up form .write input{
    background: rgb(189, 187, 187);
}

 .button input{
   background: blueviolet;
   color: white;
   cursor: pointer;
   font-size: 50px;
margin: 10px;
  
}
 

/* UserList styling */

.wrapper .user {
    background: darkgrey;
    padding: 25px 30px;
}

.wrapper .user .header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    text-decoration: none;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.wrapper .user .header .content,
.users-list a .content{
    display: flex;
}

.wrapper .user .header .content img {
    height: 50px;
    width: 50px;
}

.header .content .details {
    margin-left: 15px;
}

.wrapper .user .header .logout {
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 7px 15px;
    border-radius: 5px;
}

.wrapper .user .search {
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user .search .text {
    font-size: 15px;
}

.user .search input {
    position: absolute;
    width: calc(100% - 50px);
    height: 45px;
    outline: none;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    opacity: 1;
    pointer-events: none;
    
    
}


.user .search button {
    background: #333;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    padding: 0 0 0 10px;
   
    
}

.user .search button:active {
    background: #fff;
    color: #333;
}


.user .users-list {
    height: 350px;
    overflow: auto;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.user .users-list::-webkit-scrollbar{
    width: 0px;
}

  .users-list a:last-child{
   border: none;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content .details{
    margin-left: 15px;
    color: #000;

}

.users-list a .content .details p {
    color: #67676a;
}

/* chat area */
.wrapper .chat-area{
    width: 100%;
    border-radius: 10px;
    
}


.chat-area .header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    background: darkgrey;
}

.chat-area .header .back-icon {
    font-size: 18px;
    color: #333;
    margin: 0 15px 25px 0;
}

.chat-area .header .content{
    display: flex;
    align-items: center;  
}

.chat-area .header img {
    height: 45px;
    width: 45px;
}

.chat-area .header .content .details span {
    font-weight: 500;
}

.chat-box {
    height: 500px;
    padding: 10px 30px 20px 30px;
    background: lightgray;
    overflow-y: auto;
   
}

.chat-box::-webkit-scrollbar{
    width: 0px;
}

.chat-box .chat p {
    padding: 8px 16px;
    word-wrap: break-word;
}

.chat-box .chat-outgoing {
    margin-top: 15px;
    display: flex;
}

.chat-outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}


.chat-outgoing .details p {
    background: blueviolet;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .chat-incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .chat-incoming img {
    height: 35px;
    width: 35px;
}

.chat-incoming .details {
    background: darkgray;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.chat-incoming .details{
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    background: darkgrey;
}

.chat-area .typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    outline: none;

    border-radius: 5px;
}

.chat-area .typing-area button {
    width: 58px;
    outline: none;
    border: none;
    border-radius:  0 5px 5px 0;
    background: #000;
    color: #f1f1f1;
}



