 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.wrapper {
    background: grey ;
    width: 450px;
    border-radius: 15px 15px 0px 15px;

}

.sign-up{
    padding: 25px;

}

.sign-up header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.sign-up form {
    margin: 20px 0;
}

.sign-up .error-text {
    color: #721c24;
    background: #f8d7da;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sign-up  form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form  .field .name-details {
    display: flex;
}


.sign-up form .field input {
    height: 50px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}
.button input{
   background: black;
   color: white;
}
 
